@charset "utf-8";
/* CSS Document */

/*-------------listTb---------*/
.listTb {
	margin:0 0 0px 0;
	padding:0;
	clear:both;
}
.listTb  table {
	border-collapse:collapse;
	width: 100%;
	clear:both;
	margin:0;
	padding:0;
}
.listTb  table table, .listTb  table table td {
	border-style: none;
}
.listTb  table caption {

	vertical-align: top;
}
.listTb  table th {
	vertical-align: middle;
	text-align: center;
	padding: 3px 3px 2px 3px;
	border:0;
	color:#2f7a77;
	font-weight: bold;
	border-right:1px solid #83c5b8;
	border-left:1px solid #83c5b8;
	border-top:1px solid #99ccc2;
	border-bottom:2px solid #88c0b5;
	background: url(../images/listTb_thbg.gif) repeat-x 0px 0px;
}
.listTb  table td img{ vertical-align:middle;}
	.listTb table td {
		vertical-align: middle;
		padding: 10px 5px 10px 5px;
		border-bottom: 1px dotted #e4ded5;
		line-height: 30px;
	}
.listTb  table td.open{
	color:#999;
}
.listTb  table td.notopen{ color:#C30;}
.listTb  table td.date{
	color:#006666;
	padding:0 0 0 0px;
}

.listTb  table td a, .formTb table td a, .formTb2 table td a{ text-decoration:none; color:#006666;}
.listTb  table tr:hover{ text-decoration:none;background: #edfffd;}

.listTb  table .delete img {
	height: 16px;
	width: 16px;
	margin: 0;
	padding: 0;
}
.listTb  table .delete a{
	background: url(../images/img06a.gif) no-repeat 0 0;
	padding: 0 0 2px 0;
}
.listTb  table .delete a:hover{
	background: url(../images/img06b.gif) no-repeat 0 0;
}
.listTb  table table{ border:0;}
/*------------------setbox*/

.listTb td .setbox{ padding:5px 0 5px 0px;}
.listTb td .setbox div{ margin:2px 0; }

/*-------------listTb2 for Dialog---------*/
.listTb2 {
	margin:0 0 0px 0;
	padding:0;
	clear:both;
}
.listTb2  table {
	border-collapse:collapse;
	width: 100%;
	clear:both;
	margin:0;
	padding:0;
}
.listTb2  table table, .listTb  table table td {
	border-style: none;
}
.listTb2  table caption {
	vertical-align: top;
}
.listTb2  table th {
	vertical-align: top;
	text-align: center;
	padding: 3px 3px 2px 3px;
	border:0;
	color:#2f7a6b;
	font-weight: bold;
	border-right:1px solid #83c5b8;
	border-left:1px solid #83c5b8;
	border-top:1px solid #99ccc2;
	border-bottom:2px solid #88c0b5;
	background: url(../images/listTb_thbg.gif) repeat-x 0px 0px;
}
.listTb2  table td img{ vertical-align:middle;}
.listTb2  table td {
	vertical-align: middle;
	padding: 3px 3px;
	border-bottom: 1px dotted #e4ded5;
}
.listTb2  table td.open{
	color:#999;
}
.listTb2  table td.notopen{ color:#C30;}
.listTb2  table td.date{
	color:#006666;
	padding:0 0 0 0px;
}

.listTb2  table td a, .formTb table td a, .formTb2 table td a{ text-decoration:underline; color:#003f41;}

.listTb2  table .delete img {
	height: 16px;
	width: 16px;
	margin: 0;
	padding: 0;
}
.listTb2  table .delete a{
	background: url(../images/img06a.gif) no-repeat 0 0;
	padding: 0 0 2px 0;
}
.listTb2  table .delete a:hover{
	background: url(../images/img06b.gif) no-repeat 0 0;
}
.listTb2  table table{ border:0;}
/*------------------setbox*/

.listTb2 td .setbox{ padding:5px 0 5px 0px;}
.listTb2 td .setbox div{ margin:2px 0; }
